<section class="infographic" id="infographic" data-closed>
  <article class="post static_page">
    <h1>{{#labels}}{{affordability_hub_title}}{{/labels}}</h1>
    <div class="emerging">
      <h2><span>{{#labels}}{{top_five_emerging}}{{/labels}}</span></h2>
      {{#data.hub.countries.emerging}}
        {{>infographic-country}}
      {{/data.hub.countries.emerging}}
    </div>
    <div class="developing">
      <h2><span>{{#labels}}{{top_five_developing}}{{/labels}}</span></h2>
      {{#data.hub.countries.developing}}
        {{>infographic-country}}
      {{/data.hub.countries.developing}}
    </div>
  </article>
</section>
<section class="infographic-more">
  <a href="javascript:void(0)" class="more" id="view_all">
    <span class="view-all">View all</span>
  </a>
</section>

<article class="post static_page infographic-text">
  <div class="entry">
    <nav class="hub-boxes">
      <ul>
        <li>
          <a href="{{host}}/affordability-report/report/2015">
            <span class="text">Read the</span>
            <strong class="text">2015 Report</strong>
            <i class="background fa fa-file-text-o fa-4x"></i>
          </a>
        </li>
        <li>
          <a href="{{host}}/affordability-report/report/2014">
            <span class="text">Read the</span>
            <strong class="text">2014 Report</strong>
            <i class="background fa fa-file-text-o fa-4x"></i>
          </a>
        </li>
        <li>
          <a href="{{host}}/affordability-report/data">
            <span class="text">Explore the</span>
            <strong class="text">Data</strong>
            <i class="background fa fa-area-chart fa-4x"></i>
          </a>
        </li>
      </ul>
    </nav>

    <section class="hub-text">
      {{{data.hub.content}}}
    </section>
  </div>
</article>
<script src="{{path}}/scripts/libraries/snap.svg-min.js"></script>
<script src="{{path}}/scripts/affordability-report.js"></script>
